## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
clean_application_df = application_df.drop(columns=["EIN"])
clean_application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
clean_application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
# Look at NAME value counts to identify and replace with "Other"
clean_application_df["NAME"].value_counts()

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `names_to_replace`
cutoff = 5
name_counts = clean_application_df["NAME"].value_counts()
names_to_replace = list(name_counts[name_counts <= cutoff].index)

# Replace in dataframe
for name in names_to_replace:
    clean_application_df['NAME'] = clean_application_df['NAME'].replace(name,"Other")

# Check to make sure replacement was successful
clean_application_df['NAME'].value_counts()

NAME
Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: count, Length: 355, dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
clean_application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# You may find it helpful to look at APPLICATION_TYPE value counts >1
name_counts = clean_application_df["APPLICATION_TYPE"].value_counts()
name_counts[name_counts > 1]

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of applications to be replaced
# use the variable name `apps_to_replace`
cutoff = 500
class_counts = clean_application_df["APPLICATION_TYPE"].value_counts()
apps_to_replace = list(class_counts[class_counts < cutoff].index)
# Replace in dataframe
for app in apps_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
clean_application_df = pd.get_dummies(clean_application_df)
clean_application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [ ]:
# Split our preprocessed data into our features and target arrays
X = clean_application_df.drop(columns=["IS_SUCCESSFUL"]).values
y = clean_application_df["IS_SUCCESSFUL"].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
nodes_layer1 = 100
nodes_layer2 = 30
nodes_layer3 = 10


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_layer1,input_dim=input_features,activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_layer2,activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_layer3,activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 100)                           47,200

 dense_1 (Dense)                       (None, 30)                             3,030

 dense_2 (Dense)                       (None, 10)                               310

 dense_3 (Dense)                       (None, 1)                                 11

 Total params: 50,551 (197.46 KB)

 Trainable params: 50,551 (197.46 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy",optimizer="adam",metrics=["accuracy"])

In [ ]:
# Train the model
model_fit = nn.fit(X_train_scaled,y_train,epochs=200)

Epoch 1/200
804/804  3s 2ms/step - accuracy: 0.6987 - loss: 0.5840
Epoch 2/200
804/804  2s 2ms/step - accuracy: 0.7936 - loss: 0.4522
Epoch 3/200
804/804  2s 3ms/step - accuracy: 0.7950 - loss: 0.4397
Epoch 4/200
804/804  3s 4ms/step - accuracy: 0.7978 - loss: 0.4334
Epoch 5/200
804/804  2s 2ms/step - accuracy: 0.7988 - loss: 0.4303
Epoch 6/200
804/804  3s 2ms/step - accuracy: 0.7972 - loss: 0.4257
Epoch 7/200
804/804  3s 2ms/step - accuracy: 0.7977 - loss: 0.4316
Epoch 8/200
804/804  3s 2ms/step - accuracy: 0.8029 - loss: 0.4177
Epoch 9/200
804/804  3s 4ms/step - accuracy: 0.8017 - loss: 0.4185
Epoch 10/200
804/804  2s 3ms/step - accuracy: 0.7974 - loss: 0.4217
Epoch 11/200
804/804  2s 2ms/step - accuracy: 0.7999 - loss: 0.4175
Epoch 12/200
804/804  2s 2ms/step - accuracy: 0.8037 - loss: 0.4108
Epoch 13/200
804/804  2s 2ms/step - accuracy: 0.8006 - loss: 0.4155
Epoch 14/200
804/804  2s 2ms/step - accuracy: 0.7999 - loss: 0.4185
Epoch 15/200
804/804  3s 4ms/step - accuracy: 0.7997 - loss: 0.4171
Epoch 16/200
804/804  4s 2ms/step - accuracy: 0.8030 - loss: 0.4117
Epoch 17/200
804/804  2s 2ms/step - accuracy: 0.8056 - loss: 0.4095
Epoch 18/200
804/804  3s 2ms/step - accuracy: 0.7998 - loss: 0.4156
Epoch 19/200
804/804  3s 3ms/step - accuracy: 0.8005 - loss: 0.4174
Epoch 20/200
804/804  3s 4ms/step - accuracy: 0.8009 - loss: 0.4113
Epoch 21/200
804/804  4s 2ms/step - accuracy: 0.8067 - loss: 0.4092
Epoch 22/200
804/804  2s 2ms/step - accuracy: 0.8029 - loss: 0.4117
Epoch 23/200
804/804  2s 2ms/step - accuracy: 0.8036 - loss: 0.4132
Epoch 24/200
804/804  2s 2ms/step - accuracy: 0.8036 - loss: 0.4092
Epoch 25/200
804/804  5s 5ms/step - accuracy: 0.8038 - loss: 0.4093
Epoch 26/200
804/804  2s 3ms/step - accuracy: 0.8071 - loss: 0.4016
Epoch 27/200
804/804  3s 3ms/step - accuracy: 0.8030 - loss: 0.4066
Epoch 28/200
804/804  2s 3ms/step - accuracy: 0.8045 - loss: 0.4073
Epoch 29/200
804/804  2s 2ms/step - accuracy: 0.8052 - loss: 0.4075
Epoch 30/200
804/804  3s 4ms/step - accuracy: 0.8048 - loss: 0.4058
Epoch 31/200
804/804  3s 3ms/step - accuracy: 0.8097 - loss: 0.3994
Epoch 32/200
804/804  5s 3ms/step - accuracy: 0.8041 - loss: 0.4039
Epoch 33/200
804/804  3s 4ms/step - accuracy: 0.8093 - loss: 0.4035
Epoch 34/200
804/804  5s 3ms/step - accuracy: 0.8087 - loss: 0.4032
Epoch 35/200
804/804  2s 2ms/step - accuracy: 0.8112 - loss: 0.3984
Epoch 36/200
804/804  3s 2ms/step - accuracy: 0.8059 - loss: 0.4053
Epoch 37/200
804/804  2s 2ms/step - accuracy: 0.8101 - loss: 0.4005
Epoch 38/200
804/804  3s 3ms/step - accuracy: 0.8131 - loss: 0.3969
Epoch 39/200
804/804  3s 4ms/step - accuracy: 0.8052 - loss: 0.4017
Epoch 40/200
804/804  2s 3ms/step - accuracy: 0.8086 - loss: 0.4023
Epoch 41/200
804/804  2s 2ms/step - accuracy: 0.8080 - loss: 0.4027
Epoch 42/200
804/804  2s 2ms/step - accuracy: 0.8084 - loss: 0.4010
Epoch 43/200
804/804  2s 2ms/step - accuracy: 0.8069 - loss: 0.4030
Epoch 44/200
804/804  3s 3ms/step - accuracy: 0.8027 - loss: 0.4046
Epoch 45/200
804/804  4s 2ms/step - accuracy: 0.8112 - loss: 0.3944
Epoch 46/200
804/804  2s 2ms/step - accuracy: 0.8091 - loss: 0.3996
Epoch 47/200
804/804  3s 2ms/step - accuracy: 0.8100 - loss: 0.3980
Epoch 48/200
804/804  2s 3ms/step - accuracy: 0.8048 - loss: 0.4053
Epoch 49/200
804/804  3s 4ms/step - accuracy: 0.8093 - loss: 0.3999
Epoch 50/200
804/804  4s 3ms/step - accuracy: 0.8078 - loss: 0.3977
Epoch 51/200
804/804  2s 2ms/step - accuracy: 0.8073 - loss: 0.4019
Epoch 52/200
804/804  3s 2ms/step - accuracy: 0.8095 - loss: 0.3974
Epoch 53/200
804/804  3s 3ms/step - accuracy: 0.8108 - loss: 0.3979
Epoch 54/200
804/804  3s 3ms/step - accuracy: 0.8094 - loss: 0.3968
Epoch 55/200
804/804  4s 2ms/step - accuracy: 0.8104 - loss: 0.3964
Epoch 56/200
804/804  2s 2ms/step - accuracy: 0.8050 - loss: 0.4004
Epoch 57/200
804/804  4s 5ms/step - accuracy: 0.8054 - loss: 0.4015
Epoch 58/200
804/804  3s 2ms/step - accuracy: 0.8031 - loss: 0.4060
Epoch 59/200
804/804  2s 2ms/step - accuracy: 0.8065 - loss: 0.4006
Epoch 60/200
804/804  3s 2ms/step - accuracy: 0.8023 - loss: 0.4032
Epoch 61/200
804/804  3s 2ms/step - accuracy: 0.8112 - loss: 0.3973
Epoch 62/200
804/804  4s 4ms/step - accuracy: 0.8124 - loss: 0.3930
Epoch 63/200
804/804  2s 3ms/step - accuracy: 0.8049 - loss: 0.4052
Epoch 64/200
804/804  2s 2ms/step - accuracy: 0.8025 - loss: 0.4037
Epoch 65/200
804/804  3s 2ms/step - accuracy: 0.8070 - loss: 0.4031
Epoch 66/200
804/804  3s 2ms/step - accuracy: 0.8076 - loss: 0.4005
Epoch 67/200
804/804  3s 3ms/step - accuracy: 0.8092 - loss: 0.3953
Epoch 68/200
804/804  4s 2ms/step - accuracy: 0.8088 - loss: 0.3973
Epoch 69/200
804/804  2s 2ms/step - accuracy: 0.8102 - loss: 0.3973
Epoch 70/200
804/804  3s 2ms/step - accuracy: 0.8085 - loss: 0.3952
Epoch 71/200
804/804  2s 3ms/step - accuracy: 0.8091 - loss: 0.3991
Epoch 72/200
804/804  3s 4ms/step - accuracy: 0.8089 - loss: 0.3967
Epoch 73/200
804/804  4s 2ms/step - accuracy: 0.8113 - loss: 0.3956
Epoch 74/200
804/804  2s 2ms/step - accuracy: 0.8111 - loss: 0.3953
Epoch 75/200
804/804  2s 2ms/step - accuracy: 0.8114 - loss: 0.3950
Epoch 76/200
804/804  3s 3ms/step - accuracy: 0.8103 - loss: 0.3958
Epoch 77/200
804/804  4s 4ms/step - accuracy: 0.8077 - loss: 0.3960
Epoch 78/200
804/804  2s 2ms/step - accuracy: 0.8084 - loss: 0.3992
Epoch 79/200
804/804  3s 2ms/step - accuracy: 0.8082 - loss: 0.3946
Epoch 80/200
804/804  2s 3ms/step - accuracy: 0.8068 - loss: 0.4000
Epoch 81/200
804/804  2s 3ms/step - accuracy: 0.8061 - loss: 0.3997
Epoch 82/200
804/804  3s 3ms/step - accuracy: 0.8102 - loss: 0.3950
Epoch 83/200
804/804  3s 3ms/step - accuracy: 0.8116 - loss: 0.3914
Epoch 84/200
804/804  4s 2ms/step - accuracy: 0.8089 - loss: 0.3947
Epoch 85/200
804/804  2s 2ms/step - accuracy: 0.8095 - loss: 0.3942
Epoch 86/200
804/804  2s 2ms/step - accuracy: 0.8094 - loss: 0.3958
Epoch 87/200
804/804  3s 3ms/step - accuracy: 0.8110 - loss: 0.3940
Epoch 88/200
804/804  3s 3ms/step - accuracy: 0.8072 - loss: 0.3973
Epoch 89/200
804/804  4s 2ms/step - accuracy: 0.8103 - loss: 0.3961
Epoch 90/200
804/804  3s 2ms/step - accuracy: 0.8086 - loss: 0.3986
Epoch 91/200
804/804  3s 3ms/step - accuracy: 0.8078 - loss: 0.3982
Epoch 92/200
804/804  4s 4ms/step - accuracy: 0.8139 - loss: 0.3922
Epoch 93/200
804/804  4s 2ms/step - accuracy: 0.8112 - loss: 0.3970
Epoch 94/200
804/804  3s 2ms/step - accuracy: 0.8114 - loss: 0.3949
Epoch 95/200
804/804  3s 2ms/step - accuracy: 0.8130 - loss: 0.3937
Epoch 96/200
804/804  4s 4ms/step - accuracy: 0.8088 - loss: 0.3970
Epoch 97/200
804/804  4s 2ms/step - accuracy: 0.8071 - loss: 0.3993
Epoch 98/200
804/804  3s 2ms/step - accuracy: 0.8103 - loss: 0.3939
Epoch 99/200
804/804  2s 3ms/step - accuracy: 0.8135 - loss: 0.3920
Epoch 100/200
804/804  3s 3ms/step - accuracy: 0.8060 - loss: 0.3996
Epoch 101/200
804/804  3s 4ms/step - accuracy: 0.8086 - loss: 0.3993
Epoch 102/200
804/804  4s 3ms/step - accuracy: 0.8069 - loss: 0.3986
Epoch 103/200
804/804  2s 3ms/step - accuracy: 0.8132 - loss: 0.3948
Epoch 104/200
804/804  3s 2ms/step - accuracy: 0.8056 - loss: 0.4012
Epoch 105/200
804/804  2s 3ms/step - accuracy: 0.8096 - loss: 0.3955
Epoch 106/200
804/804  3s 4ms/step - accuracy: 0.8101 - loss: 0.3951
Epoch 107/200
804/804  4s 2ms/step - accuracy: 0.8121 - loss: 0.3940
Epoch 108/200
804/804  2s 2ms/step - accuracy: 0.8059 - loss: 0.4001
Epoch 109/200
804/804  2s 2ms/step - accuracy: 0.8127 - loss: 0.3922
Epoch 110/200
804/804  2s 3ms/step - accuracy: 0.8147 - loss: 0.3905
Epoch 111/200
804/804  3s 4ms/step - accuracy: 0.8073 - loss: 0.3992
Epoch 112/200
804/804  4s 2ms/step - accuracy: 0.8132 - loss: 0.3945
Epoch 113/200
804/804  3s 2ms/step - accuracy: 0.8105 - loss: 0.3943
Epoch 114/200
804/804  2s 2ms/step - accuracy: 0.8067 - loss: 0.3991
Epoch 115/200
804/804  3s 3ms/step - accuracy: 0.8087 - loss: 0.3952
Epoch 116/200
804/804  3s 4ms/step - accuracy: 0.8092 - loss: 0.3954
Epoch 117/200
804/804  4s 3ms/step - accuracy: 0.8147 - loss: 0.3895
Epoch 118/200
804/804  3s 2ms/step - accuracy: 0.8093 - loss: 0.3955
Epoch 119/200
804/804  3s 3ms/step - accuracy: 0.8159 - loss: 0.3880
Epoch 120/200
804/804  3s 4ms/step - accuracy: 0.8113 - loss: 0.3958
Epoch 121/200
804/804  4s 5ms/step - accuracy: 0.8105 - loss: 0.3955
Epoch 122/200
804/804  4s 5ms/step - accuracy: 0.8125 - loss: 0.3942
Epoch 123/200
804/804  4s 5ms/step - accuracy: 0.8088 - loss: 0.3971
Epoch 124/200
804/804  4s 3ms/step - accuracy: 0.8103 - loss: 0.4012
Epoch 125/200
804/804  2s 2ms/step - accuracy: 0.8062 - loss: 0.3994
Epoch 126/200
804/804  2s 2ms/step - accuracy: 0.8070 - loss: 0.3996
Epoch 127/200
804/804  2s 3ms/step - accuracy: 0.8097 - loss: 0.3965
Epoch 128/200
804/804  3s 3ms/step - accuracy: 0.8091 - loss: 0.3963
Epoch 129/200
804/804  3s 4ms/step - accuracy: 0.8109 - loss: 0.3961
Epoch 130/200
804/804  4s 3ms/step - accuracy: 0.8098 - loss: 0.3988
Epoch 131/200
804/804  3s 3ms/step - accuracy: 0.8081 - loss: 0.3995
Epoch 132/200
804/804  2s 3ms/step - accuracy: 0.8064 - loss: 0.4000
Epoch 133/200
804/804  3s 4ms/step - accuracy: 0.8055 - loss: 0.4019
Epoch 134/200
804/804  4s 3ms/step - accuracy: 0.8104 - loss: 0.3979
Epoch 135/200
804/804  2s 3ms/step - accuracy: 0.8030 - loss: 0.4019
Epoch 136/200
804/804  2s 3ms/step - accuracy: 0.8086 - loss: 0.3953
Epoch 137/200
804/804  2s 2ms/step - accuracy: 0.8140 - loss: 0.3895
Epoch 138/200
804/804  2s 3ms/step - accuracy: 0.8100 - loss: 0.3975
Epoch 139/200
804/804  3s 4ms/step - accuracy: 0.8091 - loss: 0.3957
Epoch 140/200
804/804  2s 3ms/step - accuracy: 0.8133 - loss: 0.3922
Epoch 141/200
804/804  2s 2ms/step - accuracy: 0.8109 - loss: 0.3952
Epoch 142/200
804/804  3s 3ms/step - accuracy: 0.8080 - loss: 0.3967
Epoch 143/200
804/804  2s 3ms/step - accuracy: 0.8134 - loss: 0.3924
Epoch 144/200
804/804  3s 4ms/step - accuracy: 0.8108 - loss: 0.3964
Epoch 145/200
804/804  2s 3ms/step - accuracy: 0.8100 - loss: 0.3971
Epoch 146/200
804/804  2s 2ms/step - accuracy: 0.8132 - loss: 0.3936
Epoch 147/200
804/804  2s 2ms/step - accuracy: 0.8164 - loss: 0.3923
Epoch 148/200
804/804  3s 2ms/step - accuracy: 0.8073 - loss: 0.3982
Epoch 149/200
804/804  3s 3ms/step - accuracy: 0.8092 - loss: 0.3996
Epoch 150/200
804/804  3s 4ms/step - accuracy: 0.8110 - loss: 0.3951
Epoch 151/200
804/804  2s 3ms/step - accuracy: 0.8095 - loss: 0.3956
Epoch 152/200
804/804  2s 2ms/step - accuracy: 0.8114 - loss: 0.3946
Epoch 153/200
804/804  3s 2ms/step - accuracy: 0.8059 - loss: 0.4020
Epoch 154/200
804/804  3s 3ms/step - accuracy: 0.8087 - loss: 0.3967
Epoch 155/200
804/804  3s 4ms/step - accuracy: 0.8129 - loss: 0.3960
Epoch 156/200
804/804  3s 4ms/step - accuracy: 0.8132 - loss: 0.3927
Epoch 157/200
804/804  4s 3ms/step - accuracy: 0.8076 - loss: 0.3996
Epoch 158/200
804/804  2s 2ms/step - accuracy: 0.8132 - loss: 0.3923
Epoch 159/200
804/804  2s 3ms/step - accuracy: 0.8122 - loss: 0.3965
Epoch 160/200
804/804  3s 4ms/step - accuracy: 0.8104 - loss: 0.3988
Epoch 161/200
804/804  3s 3ms/step - accuracy: 0.8128 - loss: 0.3935
Epoch 162/200
804/804  4s 2ms/step - accuracy: 0.8122 - loss: 0.3961
Epoch 163/200
804/804  3s 2ms/step - accuracy: 0.8063 - loss: 0.4013
Epoch 164/200
804/804  2s 3ms/step - accuracy: 0.8091 - loss: 0.3949
Epoch 165/200
804/804  3s 4ms/step - accuracy: 0.8059 - loss: 0.4013
Epoch 166/200
804/804  2s 3ms/step - accuracy: 0.8120 - loss: 0.3951
Epoch 167/200
804/804  2s 2ms/step - accuracy: 0.8106 - loss: 0.3928
Epoch 168/200
804/804  2s 3ms/step - accuracy: 0.8124 - loss: 0.3956
Epoch 169/200
804/804  3s 3ms/step - accuracy: 0.8120 - loss: 0.3934
Epoch 170/200
804/804  3s 3ms/step - accuracy: 0.8065 - loss: 0.4016
Epoch 171/200
804/804  4s 2ms/step - accuracy: 0.8094 - loss: 0.3978
Epoch 172/200
804/804  2s 3ms/step - accuracy: 0.8139 - loss: 0.3894
Epoch 173/200
804/804  3s 3ms/step - accuracy: 0.8077 - loss: 0.3988
Epoch 174/200
804/804  2s 3ms/step - accuracy: 0.8078 - loss: 0.4013
Epoch 175/200
804/804  4s 4ms/step - accuracy: 0.8127 - loss: 0.3934
Epoch 176/200
804/804  2s 3ms/step - accuracy: 0.8145 - loss: 0.3906
Epoch 177/200
804/804  2s 3ms/step - accuracy: 0.8116 - loss: 0.3957
Epoch 178/200
804/804  2s 3ms/step - accuracy: 0.8148 - loss: 0.3939
Epoch 179/200
804/804  3s 3ms/step - accuracy: 0.8106 - loss: 0.3970
Epoch 180/200
804/804  2s 3ms/step - accuracy: 0.8067 - loss: 0.4011
Epoch 181/200
804/804  3s 4ms/step - accuracy: 0.8142 - loss: 0.3964
Epoch 182/200
804/804  5s 4ms/step - accuracy: 0.8138 - loss: 0.3917
Epoch 183/200
804/804  4s 3ms/step - accuracy: 0.8089 - loss: 0.3965
Epoch 184/200
804/804  4s 4ms/step - accuracy: 0.8155 - loss: 0.3868
Epoch 185/200
804/804  4s 5ms/step - accuracy: 0.8112 - loss: 0.3941
Epoch 186/200
804/804  3s 2ms/step - accuracy: 0.8108 - loss: 0.3966
Epoch 187/200
804/804  2s 3ms/step - accuracy: 0.8116 - loss: 0.3933
Epoch 188/200
804/804  5s 6ms/step - accuracy: 0.8108 - loss: 0.3951
Epoch 189/200
804/804  3s 4ms/step - accuracy: 0.8034 - loss: 0.4026
Epoch 190/200
804/804  2s 2ms/step - accuracy: 0.8135 - loss: 0.3951
Epoch 191/200
804/804  2s 3ms/step - accuracy: 0.8110 - loss: 0.3957
Epoch 192/200
804/804  4s 4ms/step - accuracy: 0.8100 - loss: 0.3982
Epoch 193/200
804/804  4s 6ms/step - accuracy: 0.8063 - loss: 0.4028
Epoch 194/200
804/804  2s 3ms/step - accuracy: 0.8113 - loss: 0.3981
Epoch 195/200
804/804  2s 2ms/step - accuracy: 0.8109 - loss: 0.3967
Epoch 196/200
804/804  3s 3ms/step - accuracy: 0.8087 - loss: 0.4011
Epoch 197/200
804/804  3s 4ms/step - accuracy: 0.8047 - loss: 0.4021
Epoch 198/200
804/804  5s 4ms/step - accuracy: 0.8103 - loss: 0.3982
Epoch 199/200
804/804  3s 4ms/step - accuracy: 0.8103 - loss: 0.3955
Epoch 200/200
804/804  3s 4ms/step - accuracy: 0.8153 - loss: 0.3926

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7935 - loss: 0.4613
Loss: 0.4613437354564667, Accuracy: 0.7934693694114685

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.